# PGD Community Engine - Ignored filetypes

########################################################
# Delphi
########################################################

# IDE files
*.dproj.local
*.groupproj.local
*.identcache
*.dsk
*.cfg
*.dof

# Compiled source
*.dcu
*.obj

# Backup files
*.~*

########################################################
# Free Pascal
########################################################
*.ppu
*.dpu
*.identcache
*.tvsconfig
*.slo
*.lo
*.o
# Compiled Static libraries
*.lai
*.la
*.a


########################################################
# Lazarus
########################################################
*.lps


########################################################
# Common
########################################################
Local
*.old
*.log

# Executeables - Windows
*.exe

# Libraries
*.dll
*.so